---
import client from "@data/client.json";
import navData from "@data/navData.json";
import { Picture } from "astro:assets";
import { getCurrentYear } from "@libs/utils";
import logo from "@assets/images/logo_square_white.png";
import facebook from "@assets/icons/facebook.svg";
import instagram from "@assets/icons/instagram.svg";
import email from "@assets/icons/email.svg";
import phone from "@assets/icons/phone.svg";
import pin from "@assets/icons/pin.svg";

const currentYear = getCurrentYear();
---

<footer id="cs-footer-1339">
  <div class="cs-container">
    <!-- Logo Group -->
    <div class="cs-logo-group">
      <!-- <h2 class="cs-title">Get Finance Solution That Just Makes Sense</h2> -->
      <Picture
        src={logo}
        alt="logo"
        aria-hidden="true"
        decoding="async"
        class="cs-logo"
        width="172"
        height="123"
      />
      <div class="cs-social">
        <a
          class="cs-social-link"
          aria-label="visit facebook profile"
          href={client.facebook}
          target="_blank"
        >
          <Picture
            src={facebook}
            class="cs-social-img"
            alt="facebook"
            formats={["webp", "avif"]}
            width="11"
            height="11"
          />
        </a>
        <a
          class="cs-social-link"
          aria-label="visit instagram profile"
          href={client.instagram}
          target="_blank"
        >
          <Picture
            src={instagram}
            class="cs-social-img"
            alt="instagram"
            formats={["webp", "avif"]}
            width="11"
            height="11"
          />
        </a>
      </div>
    </div>
    <!-- Links -->
    <div class="cs-ul-wrapper">
      <span class="cs-header">Quick Links</span>
      <ul class="cs-ul">
        {
          navData.map((entry) => (
            <li class="cs-li">
              <a class="cs-link" href={entry.url}>
                {entry.key}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
    <div class="cs-ul-wrapper">
      <!-- Contact Info -->
      <span class="cs-header">Contact</span>
      <ul class="cs-ul">
        <li class="cs-li">
          <a class="cs-link" href={`tel:${client.phoneForTel}`}>
            <Picture
              src={phone}
              alt="phone"
              formats={["webp", "avif"]}
              class="cs-icon"
              aria-hidden="true"
              width="24"
              height="24"
            />
            {client.phoneForTel}
          </a>
        </li>
        <li class="cs-li">
          <a class="cs-link" href="mailto:office@email.com">
            <Picture
              src={email}
              alt="email"
              formats={["webp", "avif"]}
              class="cs-icon"
              aria-hidden="true"
              width="24"
              height="24"
            />
            {client.email}
          </a>
        </li>
        <li class="cs-li">
          <!--Make this link go to the google page-->
          <a class="cs-link" href={client.address.mapLink} target="_blank">
            <Picture
              src={pin}
              alt="pin"
              formats={["webp", "avif"]}
              class="cs-icon"
              aria-hidden="true"
              width="24"
              height="24"
            />
            {client.address.lineOne}, {client.address.city}
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="cs-bottom">
    <span class="cs-credit">
      © Copyright {currentYear}
      <!-- <span> - Designed by </span>
      <a href="atlanticedgedesign.ie" class="cs-credit-link" target="_blank"
        >Atlantic Edge Design</a
      > -->
    </span>
    <!-- <div class="cs-bottom-links">
      <a href="" class="cs-bottom-link">Privacy Policy</a>
      <a href="" class="cs-bottom-link">Terms Of Use</a>
    </div> -->
  </div>
</footer>

<style lang="less">
  /*-- -------------------------- -->
<---          Footer            -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #cs-footer-1339 {
      padding: var(--sectionPadding);
      /* 30px - 50px */
      padding-bottom: clamp(1.875rem, 5vw, 3.125rem);
      background-color: var(--primary);
      position: relative;

      .cs-container {
        width: 100%;
        max-width: (1280/16rem);
        margin: auto;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        column-gap: (48/16rem);
        row-gap: (40/16rem);
      }

      .cs-logo-group {
        /* takes up all the space, lets the other ul's wrap below it */
        width: 100%;
        position: relative;
        text-align: center;

        picture {
          display: flex;
          justify-content: center;
        }

        .cs-logo {
          display: block;
          margin-bottom: 1rem;
        }
      }
      .cs-title {
        margin: 0 0 (32/16rem) 0;
        max-width: 23ch;
        color: var(--bodyTextColorWhite);
      }

      .cs-social {
        display: inline-flex;
        justify-content: flex-start;
        gap: (8/16rem);
      }

      .cs-social-link {
        width: (32/16rem);
        height: (32/16rem);
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;
        transition:
          transform 0.3s,
          background-color 0.3s;

        &:hover {
          background-color: var(--secondaryLight);
          transform: translateY(-0.1875rem);

          .cs-social-img {
            filter: grayscale(1) brightness(100%);
          }
        }
      }

      .cs-social-img {
        height: (12/16rem);
        filter: grayscale(1) brightness(100%);
        width: auto;
        display: block;
      }

      .cs-header {
        font-size: (20/16rem);
        line-height: 1.5em;
        font-weight: 700;
        margin: 0 0 (24/16rem) 0;
        color: #fff;
        display: block;
        position: relative;
      }

      .cs-ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: (12/16rem);
      }

      .cs-li {
        list-style: none;
      }

      .cs-link {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        text-decoration: none;
        line-height: 1.5em;
        text-align: left;
        color: var(--bodyTextColorWhite);
        display: inline-flex;
        align-items: flex-start;
        gap: (8/16rem);
        transition: color 0.3s;

        picture {
          align-self: center;
        }

        &:hover {
          color: var(--secondaryLight);
        }
      }

      .cs-icon {
        width: (20/16rem);
        height: auto;
        margin-right: (2/16rem);
        display: block;
      }

      .cs-bottom {
        text-align: center;
        width: 100%;
        max-width: (1280/16rem);
        /* 48px - 64px */
        margin: clamp(1.75rem, 7vw, 4rem) auto 0;
        /* 28px - 40px */
        padding-top: clamp(1.75rem, 3vw, 2.5rem);
        border-top: 1px solid #f9f9f9;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: (12/16rem);
      }

      .cs-credit,
      .cs-bottom-link,
      .cs-credit-link {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        line-height: 1.5em;
        text-decoration: none;
        width: auto;
        margin: 0;
        color: #bababa;
        display: inline-block;
        position: relative;
        transition: color 0.3s;
      }

      .cs-credit {
        width: 100%;
      }

      .cs-credit-link {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        line-height: 1.5em;
        text-decoration: none;
        width: auto;
        margin: 0;
        color: var(--secondary);
        display: inline-block;
        position: relative;

        &:hover {
          color: var(--secondaryLight);
        }
      }

      .cs-bottom-links {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .cs-bottom-link {
        display: flex;
        align-items: center;

        &:hover {
          color: var(--primary);
        }

        &:last-of-type {
          &:before {
            /* seperator */
            content: "";
            width: 1px;
            height: (14/16rem);
            margin: 0 (12/16rem);
            background: currentColor;
            opacity: 1;
            display: block;
          }
        }
      }
    }
  }

  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #cs-footer-1339 {
      .cs-container {
        max-width: (1280/16rem);
        /* 48px - 120px */
        column-gap: clamp(3rem, 8vw, 7.5rem);
        flex-wrap: nowrap;
      }

      .cs-logo-group {
        width: 45%;
        max-width: (622/16rem);
        text-align: left;
        /* pushes the lists away from it and to the right */
        margin-right: auto;
        picture {
          display: block;
        }
      }

      .cs-bottom {
        justify-content: space-between;
        flex-wrap: nowrap;
      }

      .cs-credit {
        text-align: left;
      }

      .cs-bottom-links {
        justify-content: flex-end;
      }
    }
  }
</style>
