---
import logoIcon from "@assets/images/logo_icon.png";
import { Image } from "astro:assets";
import thumbnail from "../assets/images/testimonials/thumbnail.jpg";
const testimonials = [
    {
        image: "https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-headshot1.jpeg",
        name: "Jacintha Collins",
        role: "Co. Mayo",
        review: "Breathwork with Ronan O'Brien has opened up a whole dimension of healing I never imagined possible. It's brought balance and grounding in my life, both at home and at work. I cannot recommend it enough—it's been transformative.",
    },
    {
        image: "https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/review2.png",
        name: "Kevin Corcoran",
        role: "Co. Cork",
        review: "I've been practicing Breathwave with Ronan for a while now, and the benefits are incredible. I feel more focused, my tension has melted away, and even a long-standing pain in my forearm has disappeared. This practice truly makes me feel amazing.",
    },
    {
        image: "https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-headshot2.jpeg",
        name: "Fiona Harney,",
        role: "Co. Clare",
        review: "I have recently joined Ronan's breathwork class, and it's been an amazing gateway to view life in a positive, purposeful way. By the end of each session, I feel completely relaxed and at ease.",
    },
];
---

<section id="reviews-1672">
    <div class="cs-container relative">
        <div class="cs-content">
            <div class="flex items-center gap-4 mb-4">
                <Image src={logoIcon} alt="logo" width={32} height={32} />
                <span class="cs-topper">Testimonials</span>
            </div>
            <h2 class="cs-title">What our members say</h2>
        </div>
        <div class="absolute top-0 right-4 sm:-top-4 hidden sm:block">
            <a
                href="https://www.youtube.com/watch?v=7_7Qzfv52ZY"
                target="_blank"
                class="flex flex-row gap-4 items-center cursor-pointer hover:scale-105 transition-all duration-300"
            >
                <span class="hidden sm:block">Watch Testimonials</span>
                <div class="relative flex items-center justify-center w-auto">
                    <div
                        class="bg-primary rounded-full w-6 h-6 flex items-center justify-center -mr-4 z-10 sm:w-7 sm:h-7"
                    >
                        <div
                            class="w-0 h-0 border-t-[3px] border-t-transparent border-l-[6px] border-l-white border-b-[3px] border-b-transparent ml-0.5"
                        >
                        </div>
                    </div>
                    <div class="relative w-12 h-12 sm:w-16 sm:h-16">
                        <Image
                            src={thumbnail}
                            alt="thumbnail"
                            class="rounded-full border-2 object-cover aspect-square"
                        />
                    </div>
                    <!-- <div
          class="w-[70px] h-[70px] rounded-full border-2 animate-ping absolute left-3"
        > -->
                </div>
            </a>
        </div>
        <ul class="cs-card-group">
            {
                testimonials.map((testimonial) => (
                    <li class="cs-item">
                        <div class="px-8 py-4 lg:px-12 lg:pt-12 lg:pb-4">
                            <div class="cs-flex-group mb-4">
                                <Image
                                    aria-hidden="true"
                                    src="/assets/svgs/quote.svg"
                                    decoding="async"
                                    alt="quote icon"
                                    width="50"
                                    height="50"
                                />
                            </div>
                            <div class="wrapper">
                                <p class="cs-review">{testimonial.review}</p>
                            </div>
                        </div>

                        <div class="cs-flex-group bg-primary w-full rounded-b-2xl px-8 py-4 lg:px-12 lg:py-8">
                            <div class="cs-picture">
                                <Image
                                    class="cs-profile border-2 border-white"
                                    src={testimonial.image}
                                    decoding="async"
                                    alt="profile"
                                    width="60"
                                    height="60"
                                    aria-hidden="true"
                                />
                            </div>
                            <span class="cs-name">
                                {testimonial.name}
                                <span class="cs-job">{testimonial.role}</span>
                            </span>
                        </div>
                    </li>
                ))
            }
        </ul>
    </div>
</section>
<style lang="less">
    /*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

    /* Mobile - 360px */
    @media only screen and (min-width: 0rem) {
        #reviews-1672 {
            padding: var(--sectionPadding);
            background-color: var(--backgroundColorSecondary);

            .cs-container {
                width: 100%;
                max-width: (1280/16rem);
                margin: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                /* 40px - 64px */
                gap: clamp(2.5rem, 4.5vw, 4rem);
            }

            .cs-content {
                text-align: left;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }

            .cs-title {
                margin: (0/16rem);
            }

            .cs-card-group {
                width: 100%;
                padding: 0;
                margin: 0;
                display: grid;
                grid-template-columns: repeat(12, 1fr);
                /* 16px - 20px */
                gap: clamp(2rem, 2.5vw, 1.25rem);
            }

            .cs-item {
                list-style: none;
                width: 100%;
                /* 20px - 40px top & bottom */
                /* 20px - 40px left & right */
                background-color: #fff;
                /* prevents padding from adding to height and width */
                box-sizing: border-box;
                display: flex;
                grid-column: span 12;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                position: relative;
                border-radius: 1rem;
                /* 24px - 48px */
                gap: clamp(1.5rem, 2vw, 3rem);
            }

            .cs-flex-group {
                /* this margin top auto will push everything up and force the cs-flex-group to the bottom of the container. This is to account for review cards with different heights because of more or less text and makes the cards more responsive to changing text */
                margin-top: auto;
                display: flex;
                align-items: flex-start;
                gap: (12/16rem);
            }

            .cs-profile {
                width: (60/16rem);
                height: auto;
                border-radius: 50%;
                position: relative;
                display: block;

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    /* makes the image behave like a background image */
                    object-fit: cover;
                }
            }

            .cs-name {
                /* 20px - 25px */
                font-size: (20/16rem);
                line-height: 1.2em;
                margin: 0;
                /* in case one card has more text than the other, this pushes up against the review text so the name and title are always at the bottom. Only works if parent is a flexbox */
                margin-top: auto;
                color: #fff;
                display: block;
            }

            .cs-job {
                /* 14px - 16px */
                font-size: (16/16rem);
                line-height: 1.5em;
                font-weight: 400;
                margin: 0;
                color: #fff;
                display: block;
            }

            .wrapper {
                display: flex;
                flex-direction: column;
                gap: (16/16rem);
            }

            .cs-item-stars {
                width: (108/16rem);
                height: auto;
            }

            .cs-review {
                /* 14px - 16px */
                font-size: clamp(0.875rem, 1.6vw, 1.25rem);
                line-height: 1.5em;
                margin: 0;
                color: var(--bodyTextColor);
                z-index: 1;
            }

            .cs-quote {
                width: (86/16rem);
                height: auto;
                position: absolute;
                right: (0/16rem);
                bottom: (0/16rem);
                z-index: 0;
            }
        }
    }

    /* Tablet - 768px */
    @media only screen and (min-width: 48rem) {
        #reviews-1672 {
            .cs-item {
                grid-column: span 4;
            }
        }
    }

    /* Dark Mode */
    @media only screen and (min-width: 0rem) {
        body.dark-mode {
            #reviews-1672 {
                .cs-title,
                .cs-review,
                .cs-name {
                    color: var(--bodyTextColorWhite);
                }

                .cs-item {
                    background-color: rgba(0, 0, 0, 0.2);
                }

                .cs-job {
                    color: var(--bodyTextColorWhite);
                    opacity: 0.7;
                }

                .cs-quote {
                    opacity: 0.2;
                }
            }
        }
    }
</style>
