---
import BaseLayout from "src/layouts/BaseLayout.astro";
import CTA from "@components/CTA.astro";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import Button from "@components/ui/button.astro";
import { formatDate } from "@libs/utils.js";
import Landing from "@components/Landing.astro";
import FeaturedPost from "@components/FeaturedPost.astro";
import "@styles/blog.less";

const posts = await getCollection("events");
posts.sort(
  (a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf(),
);

import { getOptimizedImage } from "@libs/utils";
import landingImage from "@assets/images/landing.jpg";
const optimizedImage = await getOptimizedImage(landingImage);
---

<BaseLayout
  title="Latest Workshops and Retreats"
  description="Discover the latest workshops and retreats from Breathwave Ireland "
  preloadedImage={optimizedImage}
>
  <Landing title="Events" image={landingImage} />
  <div class="blog-container main-content-wrapper">
    <!--Main content -->
    <div class="main-content">
      {posts.length === 0 && <h1>No Recent Events</h1>}
      {
        posts.length >= 1 &&
          posts.map((post) => (
            <article class="recent-articles">
              <picture class="blog-mainImage">
                <Image
                  src={post.data.image}
                  alt={post.data.imageAlt}
                  width="795"
                  height="400"
                  decoding="async"
                  sizes="(max-width: 1024px) 100vw, (max-width: 1200px) 50vw, 740px"
                />
              </picture>

              <div class="article-group">
                <div class="flex flex-col gap-2">
                  {post.data.location && (
                    <>
                      <span class="blog-date">{post.data.location}</span>
                      {/* <span
                        aria-hidden="true"
                        class="blog-dot hidden md:block"
                      /> */}
                    </>
                  )}
                  <div class="flex flex-row gap-2 justify-between">
                    {post.data.price && (
                      <span class="blog-date col-span-1">
                        €{post.data.price}
                      </span>
                    )}
                    {post.data.date && (
                      <>
                        <span class="blog-date col-span-1">
                          {formatDate(post.data.date)}
                        </span>
                        {/* <span aria-hidden="true" class="blog-dot hidden md:block" /> */}
                      </>
                    )}
                  </div>
                </div>
                <h2 class="blog-h1">{post.data.title}</h2>
                <p class="blog-desc">{post.data.description}</p>
                <Button href={post.slug} text="See Details" />
              </div>
            </article>
          ))
      }
    </div>
    <FeaturedPost />
  </div>
  <CTA />
</BaseLayout>
